@model ArchiveJoinedModel

<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            @foreach (KeyValuePair<string, string> item in Model.FullColumnNames)
            {
                <th>@(item.Value != null ? item.Value : item.Key)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (ArchiveDataModel data in Model.data)
        {
            Type type = typeof(ArchiveDataModel);
            var props = type.GetProperties(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Instance).Where(x => Model.ColumnsNotOnBlacklist.Any(c => c.COLUMN_NAME == x.Name));
            <tr>
                @foreach (var prop in props)
                {
                    var value = @prop.GetValue(data);

                    if (prop.Name == "PATH")
                    {
                        var items = ((string)value).Split('/');
                        value = items[items.Length - 1];
                        <th>
                            <div class="btn-group-sm btn-group-vertical">
                                <a target="_blank" href="/pdf/@value" class="btn btn-primary">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                                <a target="_blank" href="download/@value" class="btn btn-info">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a class="btn btn-outline-secondary">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </th>
                    }

                    if(prop.Name != "PATH")
                    {
                        <th style="white-space: normal;">@value</th>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<div id="pages" hidden>@Model.pages</div>