<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            @foreach (SelectListItem item in Model.selectListItems)
            {
                <th>@item.Value</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (ArchiveDataModel data in Model.data)
        {
            Type type = typeof(ArchiveDataModel);
            var props = type.GetProperties(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Instance);
            
            <tr>
                @foreach (var prop in props)
                {
                    var value = @prop.GetValue(data);
                    <th style="white-space: normal;">@value</th>
                }
            </tr>
        }
    </tbody>
</table>