
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<<<<<<< HEAD
<a asp-action="Index" asp-controller="Archive">Hello @User.Identity.Name!</a>
=======
<a asp-action="Index" asp-controller="Archive">Hello</a>
>>>>>>> master
